---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Web App - Astro">
    <div>Esta página corresponderá a la home de la web. No es necesario implementar nada aquí en esta prueba técnica.</div>
    <a href="/area-privada">Ir a área privada</a>
</Layout>
